$primary-color: #ff5700;
$essay-tag-color: #ae00ff;
$project-tag-color: #00cf15;

a {
  color: $primary-color;
}

.btn-essay {
	padding:2px 6px;
	display:inline-block;
	border-radius:1px;
  border: 1.5px solid $essay-tag-color;
	background:#fff;
	font-size:14px;
	color:$essay-tag-color;
}

.btn-project {
	padding:2px 6px;
	display:inline-block;
	border-radius:1px;
  border: 1.5px solid $project-tag-color;
	background:#fff;
	font-size:14px;
	color:$project-tag-color;
}
