$primary-color: #22333b;
$civic-tech-tag-color: #8338EC;
$public-policy-tag-color: #3A86FF;
$product-management-tag-color: #FFBE0B;
$web3-tag-color: #FF006E;

a {
  color: $primary-color;
}

.btn-civic-tech {
	padding:2px 6px;
	display:inline-block;
	border-radius:1px;
	border: 1.5px solid $civic-tech-tag-color;
	background:#fff;
	font-size:14px;
	color:$civic-tech-tag-color;
}

.btn-policy {
	padding:2px 6px;
	display:inline-block;
	border-radius:1px;
    border: 1.5px solid $public-policy-tag-color;
	background:#fff;
	font-size:14px;
	color:$public-policy-tag-color;
}

.btn-product {
	padding:2px 6px;
	display:inline-block;
	border-radius:1px;
    border: 1.5px solid $product-management-tag-color;
	background:#fff;
	font-size:14px;
	color:$product-management-tag-color;
}

.btn-web3 {
	padding:2px 6px;
	display:inline-block;
	border-radius:1px;
    border: 1.5px solid $web3-tag-color;
	background:#fff;
	font-size:14px;
	color:$web3-tag-color;
}
